
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Hanken;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: mentalis;
    src: url(./assets/fonts/baratheon.otf);
}


body {
    font-size: 2rem;
    text-align: center;

}


.roundGradient{
    background-color: blue;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn{
    padding: 20px 50px;
    border-radius: 15px;
    border: none;
    background-color: bisque;
}

.btn:hover{
    background-color: aqua;
   
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
