
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Hanken;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}


body {
    font-family: Hanken, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* .roundGradient{
    background-color: blue;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
} */

.mainContainer {
    background-color: rgb(75, 176, 248);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.firstContainer{
    background-color: brown;
    height: 500px;
    border-radius: 20px;
}

.secondContainer{
    padding: 30px;
    margin: 20px;
}

.reaction{
    background-color: hsl(0, 100%, 67%);
}

.btn{
    width: 250px;
    padding: 20px 50px;
    border-radius: 15px;
    border: none;
    background-color: bisque;
}

.btn:hover{
    background-color: aqua;
   
}



ul{
    list-style-type: none;
}

/* Footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
